/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: NorseBold;
  src: url("font/norsebold.otf") format("opentype");
}

/* General Styling */
:root {
  --odin-primary: #e3b261;
  --odin-secondary: #0f766e;
  --bg-gray: #f9fafb;
}

* {
  color: #333;
  font-family: "Roboto", serif;
  font-size: 18px;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-gray);
}

a {
  text-decoration: none;
}

ul,
ol {
  line-height: 1.5;
}

ol li::marker,
ul li::marker {
  color: var(--odin-primary);
  font-weight: 600;
}

/* Heading */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.heading {
  font-family: NorseBold;
  font-size: 96px;
}

.heading-img {
  height: auto;
  width: 350px;
}

.subheading {
  color: var(--odin-primary);
  display: block;
  font-size: 28px;
  font-weight: 400;
}

.subheading-link {
  font-size: inherit;
  color: inherit;
  font-weight: 500;
}

.subheading-link:hover {
  filter: brightness(85%);
}

/* .subheading {
  color: var(--odin-primary);
  display: block;
  font-size: 20px;
  font-style: italic;
} */

.quote-text::before,
.quote-text::after {
  content: '"';
  font-weight: bold;
}

/* .subheading-alt,
.subheading-alt-link {
  font-size: 22px;
} */

.subheading-alt-link {
  font-weight: 600;
}

.subheading-alt-link:hover {
  color: var(--odin-secondary);
}

/* Nav */
.main-nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  background-color: var(--odin-primary);
  width: 175px;
  height: 100%;
  padding: 20px;
}

.main-nav-link {
  margin: 64px 0;
}

.main-nav-link:hover {
  font-weight: bold;
}

.nav-links li {
  display: inline-block;
  margin-inline: 24px;
}
