/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: NorseBold;
  src: url("font/norsebold.otf") format("opentype");
}

/* UNIVERSAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --odin-main: #e3b261;
  --odin-dark: #cca057;
  --odin-light: #e6ba71;
  --odin-alt-main: #0f766e;
  --odin-alt-dark: #0e6a63;
  --odin-alt-light: #27847d;
  --bg-light: #fcf7ef;
  --dark: #212529;
  --gray: #adb5bd;
}

/* GENERAL STYLING */
body {
  font-family: "Source Sans 3", sans-serif;
  color: var(--dark);
  background-color: var(--bg-light);
}

.odin-font {
  font-family: NorseBold;
}

ul,
li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* HERO SECTION */
.hero {
  height: 100vh;
  padding: 12px 0;
  background: radial-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)),
    url("img/homepage/hero-bg.jpg") center / cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  font-size: 18px;
}

.nav--logo {
  margin-right: auto;
  margin-left: 0;
}

.nav--link-logo {
  color: #fff;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.nav--link-logo-img {
  height: 36px;
  width: auto;
}

.nav--link:link,
.nav--link:visited {
  color: #fff;
  padding: 8px 12px;
  border-radius: 16px;
  font-weight: 500;
  transition: 0.2s ease;
}

.nav--link:hover {
  color: var(--odin-main);
}

.nav--link-git:link,
.nav--link-git:visited {
  color: var(--odin-alt-main);
  background-color: rgba(255, 255, 255, 0.5);
}

.nav--link-git:hover {
  background-color: #fff;
}
