// Buttons
.btn {
    cursor: pointer;
    display: inline-block;
    border: 2px solid transparent;
    color: var(--gray-9);
    background: transparent;
    font-size: 2rem;
    transition: var(--transition);

    &-main {
        background: var(--odin-primary);
        color: #fff;

        &:hover {
            background: var(--odin-light);
            color: var(--odin-primary);
            border-color: var(--odin-primary);
        }
    }

    &-delete {
        color: #e03131;
    }

    &-add-recipe {
        position: absolute;
        top: -15px;
        right: -15px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

// Recipe Card
.recipe {
    position: relative;
    background: var(--gray-1);
    width: 250px;
    border: 1px solid var(--gray-4);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: var(--transition);

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &-img {
        width: 250px;

        &-search {
            width: 100px;
        }
    }

    &-title-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-title {
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 1px solid var(--gray-4);
        grid-column: 1 / -1;
    }

    &-stat {
        color: var(--gray-7);
        font-size: 1.4rem;
        border-bottom: 1px solid var(--gray-4);

        &-alt {
            color: var(--odin-primary);
            font-weight: 600;
        }
    }
    
    &-link {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--odin-primary);
        border-bottom: 2px solid var(--odin-primary);
        place-self: start;
    }
}

// Recipe Form
#recipe-form {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.8);
    z-index: 1;
}