// Flexbox Layouts
.flex {
    display: flex;

    // FD-C
    &-fd--c {
        flex-direction: column;

        // Mobile - To Row
        &-mobile {
            @media(min-width: 767px) {
                flex-direction: row;
            }
        }
    }
}

// Grid Layouts
.grid {
    display: grid; 

    // GC-2
    &-gc--2 {
        grid-template-columns: 1fr 1fr;
    }
}

// Align Items
.ai {
    &-c {
        align-items: center;
    }

}

// Justify Content
.jc {
    &-sb {
        justify-content: space-between;
    }

    &-c {
        justify-content: center;
    }
}

// Position
.p {
    &-rel { position: relative; }
}