// Flexbox Layouts
.flex {
    display: flex;

    // FD-C
    &-fd--c {
        flex-direction: column;
    }
}

// Grid Layouts
.grid {
    display: grid; 

    &-hero {
        grid-template-columns: 1fr;
        
        @media(min-width: 767px) {
            grid-template-areas: 
                'img header header'
                'img subtitle-1 suntitle-1'
                'img subtitle-2 suntitle-2'
                'btn btn btn '
            ;
            
            &-img { grid-area: img; }
            &-header { grid-area: header }
            &-subtitle-1 { grid-area: subtitle-1 }
            &-subtitle-2 { grid-area: subtitle-2 }
            &-btn { grid-area: btn }
        }
    }
}

// Align Items
.ai {
    &-c {
        align-items: center;
    }

}

// Justify Content
.jc {
    &-sb {
        justify-content: space-between;
    }

    &-c {
        justify-content: center;
    }
}