// Flexbox Layouts
.flex {
    display: flex;
    flex-wrap: wrap;

    // FD-C
    &-fd--c {
        flex-direction: column;

        // Mobile - To Row
        &-mobile {
            @media(min-width: 767px) {
                flex-direction: row;
            }
        }
    }
}

// Grid Layouts
.grid {
    display: grid; 

    &-gc--auto {
        grid-template-columns: repeat(6, minmax(250px));
    }

    // GC-2
    @media (min-width: 767px) {
        &-gc--2 {
            grid-template-columns: 1fr 1fr;
        }
    }

    // Grid-col-full
    &-col-full {
        grid-column: 1 / -1;
    }
}

// Align Items
.ai {
    &-c {
        align-items: center;
    }

}

// Justify Content
.jc {
    &-sb {
        justify-content: space-between;
    }

    &-c {
        justify-content: center;
    }
}

// Position
.p {
    &-rel { position: relative; }
}