.recipe-search {
    position: relative;
    
    .recipe-search-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        @media(min-width: 767px) {
            flex-direction: row;
            align-items: center;
        }
    }

    .recipe-search-input {
        border: none;
        background: #eee;
    }

    .recipe-ingredients {
        display: grid;
        gap: 24px;
        
        @media(min-width:  767px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}