// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@font-face {
    font-family:"Norse-Bold";
    src:url("../assets/fonts/Norse-Bold.eot") format("eot"),
        url("../assets/fonts/Norse-Bold.woff") format("woff"),
        url("../assets/fonts/Norse-Bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

// General Styling
body {
    color: var(--gray-9);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a { 
    text-decoration: none; 
    color: inherit;
}

.a {
    &-nav {
        color: var(--gray-6);
        border-bottom: 2px solid transparent;
        transition: var(--transition);
    }

    &-nav:hover,
    &-current {
        color: var(--gray-9);
        border-color: var(--odin-primary);
    }

    &-main {
        color: var(--odin-primary);

        &:hover {
            filter: brightness(90%);
        }
    }
}

// Headings
.h {
    font-family: "Norse-Bold", cursive;

    &-main {
        font-size: 6.2rem;
        color: #fff;
    }

    &-nav {
        font-size: 2.2rem;
        color: var(--gray-9);
    }

    &-header {
        font-size: 3rem;
        color: var(--gray-9);
    }
}

// Paragraphs
.p {
    &-main {
        font-size: 1.6rem;

        &-alt {
            font-size: 1.8rem;
            color: var(--gray-6);
        }
    }

    &-subtitle {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 600;
        color: #fff;
    }

    &-subheader {
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--gray-6);
    }

    &-step-number {
        font-size: 4.2rem;
        font-weight: 600;
        color: var(--gray-4);

        &::before {
            content: "#";
        }
    }

    &-step-title {
        font-size: 3rem;
        font-weight: 800;
    }

    &-footer {
        font-size: 1.4rem;
    }
}

// Icons
.i {
    &-nav {
        font-size: 1.6rem;
    }
}