// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@font-face {
    font-family:"Norse-Bold";
    src:url("../assets/fonts/Norse-Bold.eot?") format("eot"),
        url("../assets/fonts/Norse-Bold.woff") format("woff"),
        url("../assets/fonts/Norse-Bold.ttf") format("truetype"),
        url("../assets/fonts/Norse-Bold.svg#Norse-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}

// General Styling
body {
    color: var(--gray-9);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

a { 
    text-decoration: none; 
}

.a {
    &-nav {
        color: var(--gray-6);
        border-bottom: 2px solid transparent;
        transition: var(--transition);
    }

    &-nav:hover,
    &-current {
        color: var(--gray-9);
        border-color: var(--odin-primary);
    }
}

// Headings
.h {
    font-family: 'Norse-Bold', cursive;

    &-main {
        font-size: 6.4rem;
        color: #fff;
        border-bottom: 4px solid var(--odin-primary);
    }

    &-nav {
        font-size: 2.4rem;
        color: var(--gray-9);
    }

    &-header {
        font-size: 3.2rem;
        color: var(--gray-9);
    }
}

// Paragraphs
.p {
    &-main {
        font-size: 1.8rem;
    }

    &-subtitle {
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 600;
        color: #fff;
    }

    &-subheader {
        font-size: 2.4rem;
        font-weight: 300;
        color: var(--gray-6);
    }
}

// Icons
.i {
    &-nav {
        font-size: 1.6rem;
    }
}